/* body {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem auto;
} */

.relative {
    width: 85%;
    margin: 0 auto;
}

/* 
figure {
  margin: 0;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

img {
  width: 100%;
  margin: 
} */