html {
  background-color: brown;
  margin: 2rem;
}

/* -------------------------------- */
/* Both the 'h2' selectors are in same specificity */
h2 {
  font-size: 40px;
  color: black;
}

/* According to the order, this declaration takes precedence */
h2 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-bottom: 2.6rem;
}

/* -------------------------------- */

/* Different declaration written in the same declaration block, but the last one takes precedence */
section {
  font-size:  10px;
  text-align: center;
  background-color: white;
  margin-bottom: 2.6rem;
  padding: 0.2rem;
  letter-spacing: 0.5rem;
}
/* -------------------------------- */

/* Some times higher specificity can take precedence regardless of the order */
.placeholder  {
  font-size:  20px;
/*   color: springgreen !important; */
  color: white;
}
p, span  {
  font-size:  18px;
  color: yellow;
}

/* Try uncommenting the color property with important keyword and see how it takes precedence over other style declarations */
