html {
  margin: 2rem;
  background-color: lightcyan;
}

section {
  background-color: snow;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid indigo;
}

.parent {
  border: 2px solid indigo;
}

p {
  font-size: 1.2rem;
  color: dimgray;
}

.box {
  text-align: center;
  line-height: 1.4rem;
  color: snow;
  width: 65px;
  height: 50px;
  padding: 10px;
}

.container-one {
  width: fit-content;
  border: 1px solid darkorange;
}

/* --------------------------------- */
/* --------------------------------- */

.box.one {
  background-color: darkorange;
  position: relative;
/*   top: 20px; */
  bottom: 10px;
  left: 150px;
}

.box.two {
  background-color: forestgreen;
  position: absolute;
  top: 150px;
  right: 190px;
}

.box.three {
  background-color: fuchsia;
  position: fixed;
  top: 10px;
  right: 5px;
}

.box.four {
  background-color: mediumblue;
  position: sticky;
  top: 10px;
  left: 50px;
}
/* --------------------------------- */
/* --------------------------------- */
