html {
  background-color: darkslategray;
/*   margin: 2rem; */
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  background: darkseagreen;
  color: darkslategray;
  width: 20%;
  margin: 5rem auto;
  padding: 2rem;
  border: 2px solid lightsalmon;
}

span {
  display: block;
  color: coral;
  padding-bottom: 0.5rem;
}

.block2 {
  width: 80%;
}
